* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* header */

.header {
    display: flex;
    justify-content: space-around;
    padding: 18px;
    background-color: #1f2937;
    align-items: center;
}

.logo {
    color: white;
    font-size: 14px;
}

.links {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: lightgrey;
}

ul {
    list-style-type: none;
}

/* hero */

.hero {
    display: flex;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    background-color: #1f2937;
}

.hero-left {
    width: 300px;
}

.hero-left h1 {
    color: white;
}

.hero-left p {
    color: lightgrey;
}

.hero-left button {
    margin: 10px;
    padding: 4px 20px;
    background-color:#3882f6 ; 
    color: white;
    border-radius: 6px;
    border: 0px;
}

.hero-left button:hover {
    box-shadow: 2px 1px 1px lightgray;
}

.hero-right img {
    width: 320px;
    height: 210px;
}

/* info */

.info {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.info h2 {
    margin-bottom: 40px;
    font-size: 30px;
    
}

.cards {
    display: flex;
    gap: 25px;
}

.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cards div p {
    max-width: 180px;
    text-align: center;
    color: rgb(114, 109, 109);
}

.cards div img {
    border: 4px solid rgb(66, 121, 139);
    border-radius: 5px;
}

/* quote*/

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgb(226, 226, 226);
    
    gap: 15px;
}

.quote p {
    max-width: 500px;
}

.quote-text {
    font-size: 28px;
    text-align: center;
}

 .quote-author {
     width: 500px;
    display: flex;
    justify-content: end;
    font-weight: bold;
}

/* sign-up*/

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.sign-card {
    display: flex;
    padding: 30px ;
    width: 610px;
    background-color: #3882f6;
    border-radius: 6px;
    color: white;
    justify-content: space-between;
    
}

.sign-card button {
    margin: 10px;
    padding: 4px 20px;
    background-color:#3882f6 ; 
    color: white;
    border-radius: 6px;
    border: 2px solid white ;
}

/*footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #1f2937;
    color: white;
}

